{% extends "layout.html" %}
{% block content %}

<div class="container">
  <br>
  <p>
    Large Langauge model <a href="https://huggingface.co/spaces/HuggingFaceH4/open_llm_leaderboard">Leader Board</a>
  </p>

<br>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Try Link</th>
        <th scope="col">Paper Link</th>
        <th scope="col">Comments</th>

      </tr>
    </thead>
    <tbody>
      {% for row in git_rows %}
      <tr>
        <td>{{row['Id']}}</td>
        <td><a href="{{row['Link']}}"><b>{{row['Title']}}</b></a></td>
        <td width="100px" ><a href="{{row['TryLink']}}">Try Link</a></td>
        <td width="100px"><a href="{{row['PaperLink']}}">Paper Link</a></td>
        <td>{{row['Comments']}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}